---
  const { data, category } = Astro.props
  import DressUpImg from "./DressUpImg.astro";
---
    <section>
        <div class="cloth_grid box">
            {
                data.map((item) => {
                    if (item.category === category) {
                        return <DressUpImg item={item} />;
                    } 
                    
                })
            }
        </div>
    </section> 
<style>
     .small_illustration{
        width: 100px;
    }
    .cloth_grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap:100px
    }
       .position_absolute{
        position: fixed;
     }

     
</style>  